.App {
  text-align: center;
  .add-todo-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .add-btn {
      margin-left: 10px;
    }
  }

  .todos-content {
    .todo-list-element {
      height: 36px;
      .del-btn {
        margin-left: 10px;
      }
    }
  }
}
