.App {
  text-align: center;
  .add-todo-section {
    // display: flex;
    // justify-content: center;
    margin-top: 20px;
    .add-btn {
      margin-left: 10px;
      margin-right: 20px;
    }
    .todo-title-input {
      width: 500px;
      margin-bottom: 20px;
    }

    .todo-content-input {
      width: 500px;
      height: 300px;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}
